# Path to credentials JSON file
GOOGLE_APPLICATION_CREDENTIALS=

# Google Project ID
GOOGLE_PROJECT_ID=

# Audio Config Settings
# See 'ruby list_voices'
# example: LANGUAGE_CODE=fr-FR, SSML_GENDER=FEMALE, SPEAKING_RATE=0.9
LANGUAGE_CODE=
SSML_GENDER=
SPEAKING_RATE=